.noChicken {
  display: grid;
  justify-items: center;
  gap: 20px;
  margin-top: 50px;
}

.noChickenHeader {
  font-size: 200px;
}

.noChicken h2 {
  font-size: 30px;
}

.noChicken p {
  font-size: 15px;
}

.noChickenLogo {
  height: 20dvh;
}
