.update {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.updateTitle {
  color: rgb(59, 59, 59);
}

.updateForm {
  display: grid;
  gap: 10px;
}

.updateSec {
  display: grid;
  gap: 5px;
}

.updateLabel {
  color: rgb(59, 59, 59);
  font-size: 18px;
}

.updateInput {
  height: 25px;
  border: 2px solid rgb(59, 59, 59);
  border-radius: 5px;
  padding-left: 5px;
}

.updateBigInput {
  border-radius: 5px;
  border: 2px solid rgb(59, 59, 59);
  width: 350px;
  height: 200px;
  padding: 5px;
}

.updateBtnSec {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.updateBtn {
  width: 125px;
  height: 25px;
  cursor: pointer;
  border: none;
  background-color: rgb(112, 112, 112);
  border-radius: 5px;
  color: white;
}

.updateBtn:hover {
  background-color: rgb(179, 160, 107);
  color: black;
}
