.swapMeets {
  display: grid;
  gap: 10px;
  justify-items: center;
  padding-inline: 30px;
}

.swapMeetHeaderSec {
  margin-bottom: 30px;
}

.swapMeetHeaderSec h1 {
  font-size: clamp(25px, 4vw, 40px);
  color: rgb(59, 59, 59);
}

.swapMeetInfoSec {
  display: grid;
  gap: 15px;
  width: 100%;
}

.swapMeetInfo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(145, 145, 145);
  border-radius: 10px;
}

.swapMeetNameDate {
  font-size: clamp(15px, 2vw, 20px);
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.swapMeetInfo p {
  font-size: clamp(15px, 2vw, 20px);
}

.swapMeetNameDate:hover {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
  .swapMeetInfo {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }
}
