.homePageWinner {
  display: grid;
  gap: 10px;
  justify-items: center;
}

.winnerHeader {
  color: rgb(59, 59, 59);
  font-size: 30px;
}

.homePageSec {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 20px;
  gap: 10px;
}

.homePageSecOne {
  display: grid;
  justify-items: center;
  align-items: center;
}

.homePageSecTwo {
    display: grid;
    height: fit-content;
    gap: 10px;
}

.homePageWelcome {
  display: grid;
  justify-items: center;
  gap: 10px;
  padding-block: 30px;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
}

.homePageWelcome h2 {
  font-size: clamp(25px, 3vw, 35px);
  color: rgb(59, 59, 59);
}

.homePageShowImage {
  width: 100%;
  border-radius: 10px;
}

.homePageSwapSec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.homePageSwapImage {
    width: 100%;
    border-radius: 10px;
  }

.homePageMember {
  display: grid;
  justify-items: center;
  gap: 10px;
  padding-block: 30px;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
}

.homePageWelcome p,
.homePageMember p {
  font-size: clamp(15px, 2vw, 20px);
  color: rgb(59, 59, 59);
}

@media screen and (max-width: 700px) {
  .homePageSec {
    grid-template-columns: 1fr;
  }
  .homePageSecOne {
    grid-row-start: 2;
  }
}
