.singleSwapMeet {
  display: grid;
  gap: 30px;
  justify-items: center;
  text-align: center;
}

.singleSwapMeet h1 {
  font-size: clamp(25px, 4vw, 45px);
}

.singleSwapMeet p {
  font-size: clamp(15px, 2vw, 25px);
}

.singleSwapMeetImg {
  width: 600px;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .singleSwapMeetImg {
    width: 350px;
  }
}
