.shows {
  display: grid;
  gap: 10px;
  justify-items: center;
  padding-inline: 30px;
}

.showHeaderSec {
  margin-bottom: 30px;
}

.showHeaderSec h1 {
  font-size: clamp(25px, 4vw, 45px);
}

.showInfoSec {
  display: grid;
  gap: 15px;
  width: 100%;
}

.showInfo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
}

.showName {
  font-size: clamp(15px, 2vw, 20px);
  text-decoration: none;
  color: black;
}

.showInfo p {
  font-size: clamp(15px, 2vw, 20px);
}

.showName:hover {
  color: red;
}

@media screen and (max-width: 700px) {
  .showInfo {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }
}
