.userProfile {
  justify-items: center;
}

.userProfile h2 {
  color: rgb(59, 59, 59);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.userProfileLink {
  display: block;
  text-decoration: none;
  margin-block: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.userProfileLink:hover {
  color: rgb(159, 117, 0);
  font-size: 20px;
}
