.userShows {
  display: grid;
  gap: 20px;
  padding: 20px;
  margin: 10px;
  width: 90%;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
}

.userShowsInfo {
  display: flex;
  justify-content: space-between;
}

.userShowsLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: fit-content;
}

.userShowsLink:hover {
  color: red;
}

.userShowsBtn {
  display: flex;
  gap: 10px;
}

.userShowsDeleteBtn,
.userShowsEditBtn {
  width: 100px;
  padding: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.userShowsDeleteBtn {
  background-color: rgb(179, 160, 107);
}

.userShowsDeleteBtn:hover {
  background-color: rgb(59, 59, 59);
  color: white;
}

.userShowsEditBtn {
  background-color: rgb(102, 189, 102);
}

.userShowsEditBtn:hover {
  background-color: rgb(31, 117, 0);
  color: white;
}

@media screen and (max-width: 700px) {
  .userShows {
    padding-inline: 10px;
  }
  .userShowsInfo {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .userShowsBtn {
    justify-content: center;
  }
  .userShowsLink {
    width: 100%;
  }
}
