.userSwapMeets {
  display: grid;
  gap: 20px;
  padding: 20px;
  margin: 10px;
  width: 90%;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
}

.userSwapMeetsInfo {
  display: flex;
  justify-content: space-between;
}

.userSwapMeetsLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: fit-content;
}

.userSwapMeetsLink:hover {
  color: red;
}

.userSwapMeetsBtn {
  display: flex;
  gap: 10px;
}

.userSwapMeetsDeleteBtn,
.userSwapMeetsEditBtn {
  width: 100px;
  padding: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.userSwapMeetsDeleteBtn {
  background-color: rgb(255, 123, 123);
}

.userSwapMeetsDeleteBtn:hover {
  background-color: red;
  color: white;
}

.userSwapMeetsEditBtn {
  background-color: rgb(102, 189, 102);
}

.userSwapMeetsEditBtn:hover {
  background-color: rgb(31, 117, 0);
  color: white;
}

@media screen and (max-width: 700px) {
  .userSwapMeets {
    padding-inline: 10px;
  }
  .userSwapMeetsInfo {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .userSwapMeetsBtn {
    justify-content: center;
  }
}
