.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* .logoSec {
  justify-items: center;
  justify-content: center;
  text-align: center;
} */

.signupBtn,
.userBtn {
  margin-left: 10px;
}

.loginBtn,
.signupBtn,
.logoutBtn,
.userBtn {
  width: 65px;
  height: 25px;
}

.userSec {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.appName {
  text-decoration: none;
  font-size: clamp(40px, 8vw, 100px);
  color: rgb(112, 112, 112);
}

.appName:hover {
  color: rgb(179, 160, 107);
}

.navBtns {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
  margin-block: 20px;
}

.userBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.loginBtn,
.signupBtn,
.logoutBtn,
.userBtn,
.navBtns button {
  cursor: pointer;
}

.loginBtn,
.signupBtn,
.logoutBtn,
.userBtn,
.navBtns button {
  width: 130px;
  height: 25px;
  border: none;
  background-color: rgb(112, 112, 112);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.loginBtn:hover,
.signupBtn:hover,
.logoutBtn:hover,
.userBtn:hover,
.navBtns button:hover {
  background-color: rgb(179, 160, 107);
  color: rgb(0, 0, 0);
}
