.posts {
  display: grid;
  gap: 10px;
  justify-items: center;
  padding-inline: 50px;
}

.postHeaderSec {
  margin-bottom: 30px;
}

.postHeaderSec h1 {
  font-size: clamp(25px, 4vw, 45px);
}

.postInfoSec {
  display: grid;
  gap: 30px;
  width: 100%;
}

.postInfo {
  display: flex;
  justify-content: space-between;
}

.postName {
  font-size: clamp(15px, 2vw, 20px);
  text-decoration: none;
  color: black;
}

.postInfo p {
  font-size: clamp(15px, 2vw, 20px);
}

.postName:hover {
  color: red;
}

.star {
  color: gold;
}

@media screen and (max-width: 700px) {
  .postInfo {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }
}
