.posts {
  display: grid;
  gap: 10px;
  justify-items: center;
  padding-inline: 30px;
}

.postHeaderSec {
  margin-bottom: 30px;
}

.postHeaderSec h1 {
  font-size: clamp(25px, 4vw, 40px);
  color: rgb(59, 59, 59);
}

.postInfoSec {
  display: grid;
  gap: 15px;
  width: 100%;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
}

.postName {
  font-size: clamp(15px, 2vw, 20px);
  text-decoration: none;
  color: black;
}

.postInfo p {
  font-size: clamp(15px, 2vw, 20px);
}

.postName:hover {
  color: red;
}

.star {
  color: gold;
}

@media screen and (max-width: 700px) {
  .postInfo {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }
}
